*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #65A6EB;
}

.cabecera
{
    width: 90%;
    height: 64px;
    background-color: #002570;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 16px;
    text-align: center;
}

.IcoShop
{
    width: 50px;
    height: 80px;
    
}

.btnCabecera
{
    width: 100px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

.recuadroIzq
{
    width: 42%;
    height: 100%;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 10px;
    text-align: justify;
    background-color: aliceblue;
}

.recuadroDer
{
    width: 42%;
    height: 100%;
    margin-top: -100px;
    margin-left: 52%;
    border-radius: 10px;
    text-align: justify;
    background-color: aliceblue;
}

.texto
{
    margin: 20px;
}

.columnas
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
}

.Titulo
{
    text-align: center;
    margin-top: 20px;
} 

.Tarjeta_Registro{
    width: 350px;
    height: 100%;
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #96C5F8;
    border-radius: 10px;
    border-color: #032850;
    border-style: solid;
}

.inputForm
{
    background-color: #76b4f7;
    border-style: solid;
    border-bottom: solid;
    margin-top: 30px;
    margin-left: 6%;
    border-top-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color: #002042;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 310px;
    height: 30px;
    font-size: large;
}

.inputForm::placeholder
{
    color: #003268;
}

.btnRegistro
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 225px;
    font-size: large;
    background-color: #76b4f7;
    border-style: solid;
    border-color: #002042;
    border-radius: 10px;
    width: 30%;
    height: 30px;
}

.Tarjeta_producto
{
    width: 250px;
    height: 85%;
    margin-left: 10px;
    margin-top: 40px;
    background-color: aliceblue;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
}

.imagen
{
    width: 230px;
    height: 130px;
    margin: 10px;
}

hr{
    width: 90%;
    margin-left: 10px;
}

.descripcion, .nombre{
    margin: 10px;
    font-size: large;
}

.BtnProducto{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10%;
    font-size: large;
    background-color: #76b4f7;
    border-style: solid;
    border-color: #002042;
    border-radius: 10px;
    width: 80%;
    height: 30px;
}

.contenedor{
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

