*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #65A6EB;
}

.cabecera
{
    width: 90%;
    height: 64px;
    background-color: #002570;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 16px;
    text-align: center;
}

.IcoShop
{
    width: 50px;
    height: 80px;
    
}

.btnCabecera
{
    width: 100px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

.recuadroIzq
{
    width: 42%;
    height: 100%;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 10px;
    text-align: justify;
    background-color: aliceblue;
}

.recuadroDer
{
    width: 42%;
    height: 100%;
    margin-top: -50px;
    margin-left: 52%;
    border-radius: 10px;
    text-align: justify;
    background-color: aliceblue;
}
.texto
{
    margin: 10px;
}

.columnas
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
}

.Titulo
{
    text-align: center;
    margin-top: 20px;
} 

.Tarjeta_Registro{
    width: 350px;
    height: 400px;
    margin-left: 30%;
    margin-top: 100px;
    background-color: #96C5F8;
    border-radius: 10px;
    border-color: #032850;
    border-style: solid;
}